body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  color: $color-grey;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
}

#root {
  display: flex;
  justify-content: center;
}
