.card {
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: $color-black--transparent;
  margin: 1rem;
  border: 1px solid $color-cyan;
  box-shadow: $box-shadow--cyan;
  cursor: pointer;
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  @include respond(phone) {
    width: 100%;
  }
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem;
  }
}
