.header {
  width: 100%;
  background-color: $color-black--transparent;
  color: $color-grey--light;
  text-align: center;
  padding: 0.8rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
