* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#root {
  width: 100%; }

body {
  padding: 6rem 10rem;
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25rem) {
    body {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5rem) {
    body {
      padding: 1rem; } }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem; }

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  color: #535c68;
  line-height: 1.5;
  word-spacing: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  background: url(./images/daniel-olah-dFA5XycbhoQ-unsplash.jpg); }

#root {
  display: flex;
  justify-content: center; }

@keyframes flashing {
  0% {
    opacity: 0;
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1.1);
    s-webkit-transform: scale(1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1); } }

.header {
  width: 100%;
  font-size: 2.5rem;
  color: #ecf0f1;
  text-shadow: 5px 5px 50px #00d8d6;
  text-align: center;
  padding: 0.8rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }
  @media only screen and (max-width: 37.5rem) {
    .header {
      font-size: 1.8rem; } }

.card {
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 1rem;
  border: 1px solid #00d8d6;
  box-shadow: 0 0 10px 1px rgba(0, 216, 214, 0.5);
  cursor: pointer;
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all; }
  @media only screen and (max-width: 37.5rem) {
    .card {
      width: 100%; } }
  .card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }
  .card__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem; }

.error {
  font-size: 1.6rem;
  color: #d9534f;
  text-shadow: 0 5px 40px red;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem;
  box-shadow: 0 0 10px 1px rgba(217, 83, 79, 0.5);
  margin-top: 5rem; }

.loading {
  color: #fff;
  width: 100%;
  font-size: 2rem;
  margin: 5rem 0;
  text-align: center;
  text-shadow: 5px 5px 30px #00d8d6;
  animation: flashing 5s linear;
  -webkit-animation: flashing 4s linear infinite; }
